#include <zephyr/dt-bindings/led/led.h>

/ {
	chosen {
		zephyr,display = &ssd1306;
	};

	encoder_inputs {
		compatible = "gpio-keys";

		encoder_a: encoder_a {
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Encoder A";
		};

		encoder_b: encoder_b {
			gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Encoder B";
		};

		encoder_button: encoder_button {
			gpios = <&gpio1 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Encoder Button";
		};
	};

	macropad_keys {
		compatible = "gpio-keys";

		// good
		macro_key_0: macro_key_0 {
			gpios = <&gpio0 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Macro Key 0";
		};

		// good
		macro_key_1: macro_key_1 {
			gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Macro Key 1";
		};

		// good
		macro_key_2: macro_key_2 {
			gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Macro Key 2";
		};

		// good
		macro_key_3: macro_key_3 {
			gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Macro Key 3";
		};

		//  good
		macro_key_4: macro_key_4 {
			gpios = <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Macro Key 4";
		};

		// good
		macro_key_5: macro_key_5 {
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Macro Key 5";
		};
	};

	buzzer_gpio {
		compatible = "gpio-leds";
		buzzer_out: buzzer {
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			label = "Buzzer";
		};
	};

	aliases {
		encoder-a = &encoder_a;
		encoder-b = &encoder_b;
		encoder-button = &encoder_button;
		macro-key-0 = &macro_key_0;
		macro-key-1 = &macro_key_1;
		macro-key-2 = &macro_key_2;
		macro-key-3 = &macro_key_3;
		macro-key-4 = &macro_key_4;
		macro-key-5 = &macro_key_5;
		led-strip = &led_strip;
		buzzer = &buzzer_out;
	};
};

&gpio0 {
	peripheral_vcc_enable: peripheral_vcc_enable {
		gpio-hog;
		gpios = <31 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "peripheral-vcc-enable";
	};
};

&pinctrl {
	oled_i2c_default: oled_i2c_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
				<NRF_PSEL(TWIM_SCL, 0, 20)>;
			bias-pull-up;
		};
	};

	oled_i2c_sleep: oled_i2c_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
				<NRF_PSEL(TWIM_SCL, 0, 20)>;
			low-power-enable;
		};
	};

	ws2812_spi_default: ws2812_spi_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
				<NRF_PSEL(SPIM_MOSI, 1, 15)>;
		};
	};

	ws2812_spi_sleep: ws2812_spi_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
				<NRF_PSEL(SPIM_MOSI, 1, 15)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	/delete-property/ zephyr,pm-device-runtime-auto;
	compatible = "nordic,nrf-twim";
	clock-frequency = <100000>;
	zephyr,concat-buf-size = <513>;
	zephyr,flash-buf-max-size = <513>;
	pinctrl-0 = <&oled_i2c_default>;
	pinctrl-1 = <&oled_i2c_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		status = "okay";
		reg = <0x3c>;

		width = <128>;
		height = <32>;

		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		segment-remap;
		com-invdir;
		com-sequential;
		prechargep = <0xf1>;
		ready-time-ms = <100>;
	};
};

&spi3 {
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&ws2812_spi_default>;
	pinctrl-1 = <&ws2812_spi_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		spi-max-frequency = <4000000>;
		chain-length = <6>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};